name: Run Gradle build
on:
  push:
    branches:
      - main
jobs:
  gradle:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Execute Gradle build
        run: ./gradlew build

      - name: Print version information
        run: echo "VERSION_INFORMATION=$(${{github.workspace}}/gradlew -q printVersionInformation)" >> $GITHUB_ENV

#      - name: Upload build packages
#        uses: actions/upload-artifact@v4
#        with:
#          name: build
#          path: build/distributions/spark-${{ env.VERSION_INFORMATION }}.tar